<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/styles.css">

	<title>To Do List</title>
</head>
<body>
    <nav>
        <form action="/logout" method="POST">
            <%= username %> |
            <button type="submit">Logout</button>
        </form>
    </nav>

    <main>
        <div class="col-4">
            <div class="box" id="heading">
                <h1> Lists </h1>
            </div>
            <div class="box">
                <% userLists.forEach( (list) => { %>
                    <form action="/delete-list" method="POST">
                        <div class="item">
                            <input type="checkbox" name="checkboxList"  value="<%= list._id %>" onChange="this.form.submit()">
                            <p><a href="/lists/<%= list.name %>"> <%= list.name %> </a></p>
                        </div>
                        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                    </form>
                <% }); %>
                <form class="item" action="/add-custom-list" method="POST">
                    <input type="text" name="newList" id="newList" placeholder="Add new list" autocomplete="off">
                    <button type="submit" name="list">+</button>
                </form>
            </div>
        </div>

        <div class="col-6">
            <div class="box" id="heading">
                <h1> <%= listTitle %> </h1>
            </div>

            <div class="box">
                <% listItems.forEach( (item) => { %>
                    <form action="/delete" method="POST">
                            <div class="item">
                            <input type="checkbox" name="checkbox"  value="<%= item._id %>" onChange="this.form.submit()">
                            <p><%= item.name %></p>
                        </div>
                        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                    </form>
                <% }); %>

                <form class="item" action="/" method="POST">
                    <input type="text" name="newItem" id="newItem" placeholder="Add new item" autocomplete="off">
                    <button type="submit" name="list" value="<%= listTitle %>">+</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        Made by Santi.
    </footer>

</body>
</html>